.about-body{
  height: 350vh;
}
.about {
    width: 100%;
    height: 200vh;
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }
  
  .aboutTop {
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    
    
  }
  
.aboutBottom p{
  margin-top: 20px;
  font-size: 22px;
  height: 300px;
  width: 800px;
  float: left;
  line-height: 45px;
  font-size: 25px;
  color: black;
    
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    transform: translateY(-40px);
  }


.content img{
  height: 500px;
  width: 500px;
  border-radius: 20px;
  margin-bottom: 0px;

}
.special h2{
  font-size: 50px;
  margin-top: 0px;
  font-weight: 600px;
}
.special h3{
  text-decoration: underline;
}
.special p{
  font-size: 25px;
  color: black;
  width: 800px;
}



@media only screen and (max-width:900px) {
  .about {
    width: 100%;
    height: 500vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 50%;
  }
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    margin-top:220px;
    transform: translateY(-40px);
  }

}