    .enrol-page{
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
    .enrol-content{
        height: 500px;
        width: 600px;
        margin-left: 50px;
        margin-top: 100px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        padding: 20px;
        border-radius: 20px;
    }
    .enrol-content h1{
        font-size: 32px;
        line-height: 45px;
    }
    
    .box {
      background-image: linear-gradient(to right, rgb(228, 131, 21) , rgb(237, 241, 120));
      padding: 20px;
      height: 650px;
      width: 500px;
      margin-bottom: 300px;
      margin-left: 350px;
      margin-top: 30px;
      margin-right: 80px;
      border-radius: 25px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      color: rgb(19, 19, 19);
      float: right;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
    }
    
    .box input {
      width: 95%;
      margin-bottom: 20px;
      padding: 10px;
      font-size: 15px;
      border-radius: 15px;
      
    }
    .box h1{
      color: aliceblue;
    }
    
    .box button {
      background-image: linear-gradient(to top, rgb(39, 187, 177) , rgb(250, 203, 14));
      color: white;
      border: none;
      padding: 10px 40px;
      cursor: pointer;
      margin-top: 5px; 
      margin-left:150px;
      transition: background-color 0.1s;
      border-radius: 10px;
      font-size: 14px;
      
    }
      
    .box input:hover {
        border-color: #4d0d1b;
    }
  
    .box button:hover {
      background-color: #f6ff00;
      color: black;
    }
  
  .box label{
    margin-right: 340px;
    font-size: 18px;
  }
  @media only screen and (max-width:800px) {
    .enrol-page {
      justify-content: center;
      align-items: center;
    }
  
    .enrol-page,.enrol-content,.box{
      margin-left:60px;
      margin-top: 40px;
      margin-bottom: 50px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #2c2d2e;
      color: white;
      
    }
    .box {
        background-image: linear-gradient(to right, rgb(228, 131, 21) , rgb(237, 241, 120));
        padding: 20px;
        height: 650px;
        width: 500px;
        margin-bottom: 300px;
        margin-left: 0px;
        margin-top: 0px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: rgb(19, 19, 19);
        float: right;
        
      }
      .box input {
        width: 75%;
        margin-bottom: 10px;
        padding: 15px;
        font-size: 10px;
        margin-left: 50px;
        border-radius: 10px;
        
      }
      .box h1{
        color: aliceblue;
        font-size: 35px;
        margin-top: 10px;
      }
      .box button {
        background-image: linear-gradient(to top, rgb(39, 187, 177) , rgb(250, 203, 14));
        color: white;
        border: none;
        padding: 8px 20px;
        cursor: pointer;
        margin-top: 5px; 
        margin-left:200px;
        transition: background-color 0.1s;
        border-radius: 10px;
        font-size: 16px;
        
      }
      .box label{
        margin-left: 50px;
        font-size: 18px;
        font-weight: 700;
      }
      .enrol-content{
        height: 400px;
        width: 500px;
        margin-bottom: 60px;
        margin-left: 0px;
    }
    
  }
  @media only screen and (max-width:700px) {
    .enrol-page {
      justify-content: center;
      align-items: center;
    }
  
    .enrol-page,.enrol-content,.box{
      margin-left:20px;
      margin-top: 40px;
      margin-bottom: 50px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #2c2d2e;
      color: white;
      
    }
    .box {
        background-image: linear-gradient(to right, rgb(228, 131, 21) , rgb(237, 241, 120));
        padding: 20px;
        height: 450px;
        width: 300px;
        margin-bottom: 300px;
        margin-left: 0px;
        margin-top: 0px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: rgb(19, 19, 19);
        float: right;
        
      }
      .box input {
        width: 55%;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 10px;
        margin-left: 100px;
        border-radius: 10px;
        
      }
      .box h1{
        color: aliceblue;
        font-size: 15px;
        margin-top: 10px;
      }
      .box button {
        background-image: linear-gradient(to top, rgb(39, 187, 177) , rgb(250, 203, 14));
        color: white;
        border: none;
        padding: 8px 20px;
        cursor: pointer;
        margin-top: 5px; 
        margin-left:200px;
        transition: background-color 0.1s;
        border-radius: 10px;
        font-size: 14px;
        
      }
      .box label{
        margin-left: 100px;
        font-size: 12px;
        font-weight: 700;
      }
      .enrol-content{
        height: 400px;
        width: 300px;
        margin-bottom: 60px;
    }
    
  }
  
    
