.navbar {
    width: 100%;
    height: 100px;
    background-color: White;
    display: flex;
    flex-direction: row;
  }
  
  .navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    
  }
  .dropdown button{
    margin-left: 0px;
  }
  
  .navbar .leftSide img {
    width: 120px;
    float: left;
  }
  
  .navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    color: rgb(4, 4, 4);
    text-decoration: none;
    margin: 0px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
  }
  
  .navbar .rightSide .toggle-button {
    background-color: transparent;
    border: none;
    color: rgb(11, 11, 11);
    cursor: pointer;
    position:relative;
    
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: inherit;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 450px;
    margin-top: 800px;
    background-color: gray;
    padding: 10px;
    border-radius: 50px;
  }
  .navbar #open .hiddenLinks ul li{
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide .toggle-button  {
      display: inherit;
      margin-top: 0px;
      
      
    }
  }
  
  @media only screen and (min-width: 900px) {
    .navbar .rightSide .toggle-button  {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }